{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="https://github.com/notpushkin/Mailspring-Libre/releases" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">Download</a> <a class="button outline big" href="https://github.com/notpushkin/Mailspring-Libre" onclick="_gaq.push(['_trackEvent', 'kube', 'github']);">View on Github</a>
    <p>Version {{.Site.Params.Version}} from {{.Site.Params.VersionDate}}.
    <br>
    Builds available for macOS, Linux, and Windows.</p>
  </div>
  <div class="message focus" data-component="message"> <span class="close small"></span>
    <a class="button inverted small " href="https://mailspringlibre.org" >Mailspring Libre </a> from <a href="https://github.com/Foundry376/Mailspring">Foundry376's Mailspring</a> is a email client that is fast, free and beautiful. This Libre build comes with no telemetry at all, and is still filled with powerful features you will love, like Unified Inbox, Snooze, Send Later, Mail Rules, Templates and more! 
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <h3>Free</h3>
        <p>Mailspring Libre comes completely free of charge. No plans, no upgrades, no money.</p>
      </div>
      <div class="col col-4 item">
        <h3>Libre</h3>
	<p>Free as in freedom. UI and app licensed under the <a href="https://github.com/notpushkin/Mailspring-Libre/blob/master/LICENSE.md">GPLv3</a>.</p>
      </div>
      <div class="col col-4 item">
        <h3>Private</h3>
        <p>All telemetry is disabled. No centralized server is needed.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>Beautiful</h4>
        <p>Mailspring is beautiful and functional. Themes and plugins allow for limitless customization.</p>
      </div>
      <div class="col col-4 item">
        <h4>Cross-platform</h4>
        <p>Mailspring Libre uses Electron to work across all major platforms: macOS, Linux, and Windows.</p>
      </div>
      <div class="col col-4 item">
        <h4>Mailsync</h4>
        <p>The sync engine, MailSync, is proprietary, and while we're working on replacing it, it probably won't happen anytime soon.
      </p>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
