  <footer id="footer">
    <nav>
      <ul>
        <li><span>Mailspring Libre</span></li>
        <li>
          <a href="https://github.com/notpushkin/Mailspring-Libre">Source</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
          <li>
          <a href="/docs/">Docs</a>
        </li>
	<li>
	  <a href="/privacy/">Privacy Policy</a>
	</li>
	<li>
	  <a href="/terms/">Terms of Service</a>
	</li>
      </ul>
    </nav>
    <p>&copy; Licence GPLv3.</p>
  </footer>
